<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="tray_is_active" value="False" />
        <add key="save_excel_path" value="C:\Users\Ivanchik228\Desktop" />
        <add key="is_pinned" value="False" />
        <add key="is_using_sorted" value="True" />
        <add key="selected_convert_category_index" value="0" />
        <add key="is_full_screen" value="false" />
        <add key="usd_uah" value="0" />
        <add key="eur_uah" value="0" />
    </appSettings>
</configuration>